* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
  }

.header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 16px 160px;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid; */
}

.logo {
    display: flex;
    width: 105px;
    height: 24px;
    font: poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    color: black;
}

.ul {
    display: flex;
    width: 326px;
    height: 24px;
    gap: 40px;
}



.li {
    display: flex;
    text-decoration: none;
}

.search-div {
    display: flex;
    width: 130px;
    height: 28px;
    gap: 16px;
}

.b-t {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
}

.b-a {
    display: flex;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border: 1.5px #141718;
    position: absolute;
}

.div-icon {
    display: flex;
    width: 50px;
    height: 28px;
    position: relative;
    align-items: center;
}

.b-th {
    display: flex;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 1px;
    position: absolute;
}

.b-tf {
    display: flex;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 30px;
    position: absolute;
}

.b-aa {
    display: flex;
    width: 18.56px;
    height: 18px;
    top: 3px;
    left: 2.72px;
    border-radius: 4px;
    border: 1.5px #141718;
    position: absolute;
}

.b-ab {
    display: flex;
    width: 8px;
    height: 10px;
    top: 5px;
    left: 6px;
    position: absolute;
}

.account-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1126px;
    padding: 0 160px 80px 160px;
}

.title {
    display: flex;
    width: 312px;
    height: 218px;
    padding: 80px 0;
    gap: 40px;
    margin: 0 auto;
}

.account {
    display: flex;
    width: 312px;
    height: 58px;
    font: poppins;
    font-weight: 500;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
    justify-content: center;
}

.account-section {
    display: flex;
    width: 1120px;
    height: 828px;
    gap: 7px;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 262px;
    height: 498px;
    border-radius: 8px;
    padding: 40px 16px;
    gap: 40px;
    background-color: #F3F5F7;
}

.flame {
    display: flex;
    flex-direction: column;
    width: 131px;
    height: 120px;
    gap: 6px;
    margin: 0 auto;
}

.avatar {
    display: flex;
    width: 82px;
    height: 82px;
    position: relative;
    margin: 0 auto;
}

.camera {
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 52px;
    left: 50px;
    border-radius: 125px;
    border: 1.5px;
    padding: 7px;
    gap: 10px;
}

.sofia {
    display: flex;
    width: 131px;
    height: 32px;
    font: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.account-frame {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 258px;
    gap: 12px;
}

.account-state {
    display: flex;
    width: 230px;
    height: 42px;
    padding: 8px 0;
    gap: 10px;
}

.account-content {
    display: flex;
    width: 230px;
    height: 26px;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #141718;
}

.account-content:hover {
    border-bottom: 1px solid #141718;
}

.account-cont {
    display: flex;
    width: 230px;
    height: 26px;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #6C7275;
}

.account-cont:hover {
    border-bottom: 1px solid #141718;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 851px;
    height: 828px;
    padding: 0 72px;
    gap: 40px;
}

.first-form {
    display: flex;
    flex-direction: column;
    width: 707px;
    height: 416px;
    gap: 24px;
}

.Account-Details {
    display: flex;
    width: 154px;
    height: 32px;
    font: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.account-name {
    display: flex;
    flex-direction: column;
    width: 707px;
    height: 64px;
    gap: 12px;
}

.First-name {
    display: flex;
    width: 83px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.input {
    display: flex;
    width: 707px;
    height: 404px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0 16px;
    gap: 8px;
}

.account-nam {
    display: flex;
    flex-direction: column;
    width: 707px;
    height: 96px;
    gap: 12px;
}

.input-pr {
    display: flex;
    width: 465px;
    height: 20px;
    font: inter;
    font-weight: 400;
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    color: #6C7275;
}

.First-nam {
    display: flex;
    width: 134.89px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.second-form {
    display: flex;
    flex-direction: column;
    width: 707px;
    height: 372px;
    gap: 24px;
}

.Password {
    display: flex;
    width: 95px;
    height: 32px;
    font: inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.old-password {
    display: flex;
    width: 97px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.new-password {
    display: flex;
    width: 101px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.new-p {
    display: flex;
    width: 156.75px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.btn {
    display: flex;
    width: 183px;
    height: 52px;
    border-radius: 8px;
    padding: 12px 40px;
    gap: 8px;
    background-color: #141718;
    font: inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 249px;
    padding: 80px 160px 32px 160px;
    gap: 60px;
    background-color: black;
}

.top-footer {
    display: flex;
    width: 1120px;
    height: 32px;

}

.top-footer-inner {
    display: flex;
    width: 1120px;
    height: 24px;
    justify-content: space-between;
}

.logo-slogan {
    display: flex;
    width: 554px;
    height: 24px;
    gap: 32px;
}

.logo-p {
    display: flex;
    width: 105px;
    height: 24px;
    font: poppins;
    font-weight: 500;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: white;
}

.bar {
    display: flex;
    width: 1px;
    height: 24px;
    color: #6C7275;
    justify-content: center;
    align-items: center;
}

.gift-p {
    display: flex;
    width: 350px;
    height: 22px;
    font: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #E8ECEF;
    /* justify-content: center; */
    align-items: center;
}

.nav-footer {
    display: flex;
    width: 392px;
    height: 22px;
    gap: 40px;
}

.ul-footer {
    display: flex;
    width: 392px;
    height: 22px;
    gap: 40px;
}

.li-list {
    display: flex;
    text-decoration: none;
    font: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: white;
}

.a {
    width: 40px;
    height: 22px;
}

.b {
    width: 35px;
    height: 22px;
}

.c {
    width: 52px;
    height: 22px;
}

.d {
    width: 30px;
    height: 22px;
}

.f {
    width: 75px;
    height: 22px;
}

.down-footer {
    display: flex;
    width: 1118px;
    height: 56px;
    border-top: 0.5px solid #6C7275;
    justify-content: space-between;
    padding: 16px 0;
}

.footer-layout {
    display: flex;
    width: 485;
    height: 20px;
    gap: 28px;
}

.copy-right {
    display: flex;
    width: 265px;
    height: 20px;
    font: poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #E8ECEF;
}

.privacy {
    display: flex;
    width: 85px;
    height: 20px;
    font: poppins;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FEFEFE;
}

.term {
    display: flex;
    width: 79px;
    height: 20px;
    font: poppins;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FEFEFE;
}

.icon-container {
    display: flex;
    width: 120px;
    height: 24px;
    gap: 24px;
}

.icon-a {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
}

.img-icon {
    display: flex;
    width: 10px;
    height: 10px;
    top: 7px;
    left: 7px;
    border: 1.5px #FEFEFE;
    position: absolute;
}