* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
  }

.header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 16px 160px;
    justify-content: space-between;
    background-color: white;
    border: 1px solid;
}

.logo {
    display: flex;
    width: 105px;
    height: 24px;
    font: poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    color: black;
}

.ul {
    display: flex;
    width: 326px;
    height: 24px;
    gap: 40px;
}



.li {
    display: flex;
    text-decoration: none;
}

.search-div {
    display: flex;
}

.cart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1097px;
    padding: 80px 160px;
    background-color: white;
}

.tittle {
    display: flex;
    flex-direction: column;
    width: 832px;
    height: 166px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.p-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font: poppins;
    font-weight: 500;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
    color: black;
}

.shopping-cart {
    display: flex;
    width: 832px;
    height: 32px;
    gap: 32px;
    justify-content: center;
}

.process {
    display: flex;
    width: 256px;
    height: 68px;
    border-bottom: 2px solid black;
    padding-bottom: 26px;
    gap: 24px;
    color: #141718;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.proces {
    display: flex;
    width: 256px;
    height: 68px;
    border-bottom: 2px;
    padding-bottom: 26px;
    gap: 24px;
    color: #B1B5C3;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.span {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 8px 17px;
    border-radius: 40px;
    gap: 10px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.spa {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px 15px;
    border-radius: 40px;
    gap: 10px;
    background-color: #B1B5C3;
    color: white;
    justify-content: center;
    align-items: center;
}

.sp {
    display: flex;
    width: 41px;
    height: 42px;
    padding: 8px 15px;
    border-radius: 40px;
    gap: 10px;
    background-color: #B1B5C3;
    color: white;
    justify-content: center;
    align-items: center;
}

.cart-layout {
    display: flex;
    flex-direction: column;
    width: 1120px;
    height: 771px;
}

.layout {
    display: flex;
    width: 1120px;
    height: 642px;
    padding: 80px 0px;
    gap: 64px;
}

.left-layout {
    display: flex;
    flex-direction: column;
    width: 643px;
    height: 482px;
}

.product {
    display: flex;
    width: 643px;
    height: 50px;
    border-bottom: 1px solid;
    padding-bottom: 24px;
    justify-content: space-between;
}

.price {
    display: flex;
    width: 322px;
    height: 26px;
    justify-content: space-between;
}

.p-2 {
    display: flex;
    width: 62px;
    height: 26px;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
}

.quantity {
    display: flex;
    width: 67px;
    height: 26px;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
}

.quanti {
    display: flex;
    width: 40px;
    height: 26px;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
}

.quan {
    display: flex;
    width: 66px;
    height: 26px;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #121212;
}

.product-cell {
    display: flex;
    width: 643px;
    height: 144px;
    border-bottom: 1px solid;
    justify-content: space-between;
    padding: 24px;
    justify-content: center;
    align-items: center;
}

.left-cell {
    display: flex;
    width: 316px;
    height: 96px;
    gap: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 82px;
    gap: 16px;
}

.tray {
    display: flex;
    width: 210px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.black {
    display: flex;
    width: 68px;
    height: 20px;
    font: inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.remove {
    display: flex;
    width: 83px;
    height: 24px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.re-span {
    display: flex;
    width: 55px;
    height: 22px;
    font: inter;
    font-weight: 600px;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
    align-items: center;
    justify-content: center;
}

.right-cell {
    display: flex;
    width: 328px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
}

.small-button {
    display: flex;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid;
    padding: 12px 8px;
    gap: 10px;
    color: #6C7275;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.p-botton {
    display: flex;
    width: 64px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.p-content {
    display: flex;
    width: 58px;
    height: 30px;
    font: inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #121212;
}

.p-cont {
    display: flex;
    width: 58px;
    height: 30px;
    font: inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #121212;
}

.minors {
    display: flex;
    width: 16px;
    height: 16px;
    top: 2px;
}

.two {
    display: flex;
    width: 8px;
    height: 20px;
    left: 28px;
    justify-content: center;
    align-items: center;
} 

.plus {
  display: flex;
  width: 16px; 
  height: 16px; 
  top: 2px;
  left: 48px;
}

.right-layout {
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 476px;
    border-radius: 6px;
    border: 1px solid;
    padding: 24px;
    gap: 16px;
    background-color: white;
}

.summary {
    display: flex;
    width: 365px;
    height: 28px;
    font: poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.element-summary {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 384px;
}

.cart-component {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.component {
    display: flex;
    width: 365px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #141718;
    padding: 13px 16px;
    gap: 175px;
    background-color: #F3F5F7;
}

.compone {
    display: flex;
    width: 365px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #141718;
    padding: 13px 16px;
    gap: 130px;
    background-color: #F3F5F7;
}

.compo {
    display: flex;
    width: 365px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #141718;
    padding: 13px 16px;
    gap: 200px;
    background-color: #F3F5F7;
}

.cart-summary {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 196px;
    padding-bottom: 16px;
    gap: 12px;
}

.Subtotal {
    display: flex;
    width: 365px;
    height: 52px;
    border-bottom: 1px solid;
    padding: 13px;
    /* background-color: #EAEAEA; */
}

.order {
    display: flex;
    width: 365px;
    height: 26px;
    gap: 160px;
    justify-content: space-between;
}

.btn {
    display: flex;
    width: 365px;
    height: 52px;
    border-radius: 8px;
    padding: 10px 26px;
    gap: 8px;
    background-color: #141718;
    justify-content: center;
    align-items: center;
}

.Checkout {
    display: flex;
    width: 80px;
    height: 32px;
    font: inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.4px;
    align-items: center;
    justify-content: center;
    color: white;
}

.coupon-form {
    display: flex;
    flex-direction: column;
    width: 424px;
    height: 129px;
    gap: 16px;
}

.coupon-tittle {
    display: flex;
    flex-direction: column;
    width: 424px;
    height: 61px;
    gap: 7px;
}

.form-input {
    display: flex;
    width: 424px;
    height: 52px;
    border: 1px solid #6C7275;
    padding: 0 16px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.form-layout {
    display: flex;
    width: 392px;
    height: 52px;
    border-bottom: 1px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.icon-input {
    display: flex;
    /* width: 341px; */
    height: 28px;
    gap: 8px;
}

.code {
    display: flex;
    width: 309px;
    height: 28px;
    font: inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
}

.appply {
    display: flex;
    width: 43px;
    height: 28px;
    font: inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    cursor: pointer;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 249px;
    padding: 80px 160px 32px 160px;
    gap: 60px;
}

.top-footer {
    display: flex;
    width: 1120px;
    height: 32px;

}

.top-footer-inner {
    display: flex;
    width: 1120px;
    height: 24px;
    justify-content: space-between;
}

.logo-slogan {
    display: flex;
    width: 554px;
    height: 24px;
    gap: 30px;
}