* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
  }

.header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 16px 160px;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid; */
}

.logo {
    display: flex;
    width: 105px;
    height: 24px;
    font: poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    color: black;
}

.ul {
    display: flex;
    width: 326px;
    height: 24px;
    gap: 40px;
}



.li {
    display: flex;
    text-decoration: none;
}

.search-div {
    display: flex;
    width: 130px;
    height: 28px;
    gap: 16px;
}

.b-t {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
}

.b-a {
    display: flex;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border: 1.5px #141718;
    position: absolute;
}

.div-icon {
    display: flex;
    width: 50px;
    height: 28px;
    position: relative;
    align-items: center;
}

.b-th {
    display: flex;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 1px;
    position: absolute;
}

.b-tf {
    display: flex;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 30px;
    position: absolute;
}

.b-aa {
    display: flex;
    width: 18.56px;
    height: 18px;
    top: 3px;
    left: 2.72px;
    border-radius: 4px;
    border: 1.5px #141718;
    position: absolute;
}

.b-ab {
    display: flex;
    width: 8px;
    height: 10px;
    top: 5px;
    left: 6px;
    position: absolute;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1958px;
    padding: 80px 160px;
    background-color: #FFFFFF;
}

.tittle {
    display: flex;
    flex-direction: column;
    width: 832px;
    height: 166px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.p-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font: poppins;
    font-weight: 500;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
    color: black;
}

.shopping-cart {
    display: flex;
    width: 832px;
    height: 32px;
    gap: 32px;
    justify-content: center;
}

.process {
    display: flex;
    width: 256px;
    height: 68px;
    /* border-bottom: 2px solid black; */
    padding-bottom: 26px;
    gap: 24px;
    color: #38CB89;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.process:hover {
    border-bottom: 2px solid #38CB89;
}

.proces {
    display: flex;
    width: 256px;
    height: 68px;
    border-bottom: 2px;
    padding-bottom: 26px;
    gap: 24px;
    color: black;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.proces:hover {
    border-bottom: 2px solid black;
}

.proce {
    display: flex;
    width: 256px;
    height: 68px;
    border-bottom: 2px;
    padding-bottom: 26px;
    gap: 24px;
    color: #B1B5C3;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.proce:hover {
    border-bottom: 2px solid #B1B5C3;
}

.span {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 8px 17px;
    border-radius: 40px;
    gap: 10px;
    background-color: #38CB89;
    color: white;
    justify-content: center;
    align-items: center;
}

.spa {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px 15px;
    border-radius: 40px;
    gap: 10px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.sp {
    display: flex;
    width: 41px;
    height: 42px;
    padding: 8px 15px;
    border-radius: 40px;
    gap: 10px;
    background-color: #B1B5C3;
    color: white;
    justify-content: center;
    align-items: center;
}

.checkout-layout {
    display: flex;
    width: 1120px;
    height: 1634px;
    padding: 80px 0;
    gap: 64px;
}

.left-layout {
    display: flex;
    flex-direction: column;
    width: 643px;
    height: 1474px;
    gap: 24px;
}

.first-form {
    display: flex;
    flex-direction: column;
    width: 643px;
    height: 372px;
    border-radius: 4px;
    border: 1px solid #6C7275;
    padding: 40px 24px;
    gap: 24;
}

.info {
    display: flex;
    width: 198px;
    height: 28px;
    font: poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.name-info {
    display: flex;
    width: 595px;
    height: 64px;
    justify-content: space-between;
    margin-top: 20px;
}

.left-info {
    display: flex;
    flex-direction: column;
    width: 285.5px;
    height: 64px;
    gap: 12px;
}

.first-name {
    display: flex;
    width: 74px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.first-input {
    display: flex;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0 16px;
    gap: 8px;
}

.number {
    display: flex;
    flex-direction: column;
    width: 595px;
    height: 64px;
    gap: 12px;
    margin-top: 20px;
}

.phone {
    display: flex;
    width: 120px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.phone-number {
    display: flex;
    width: 595px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #CBCBCB;
    padding: 0 16px;
    gap: 8px;
}

.second-form {
    display: flex;
    flex-direction: column;
    width: 643px;
    height: 510px;
    border-radius: 4px;
    border: 1px solid #6C7275;
    padding: 40px 24px;
    gap: 24px;
}

.shipping {
    display: flex;
    width: 177px;
    height: 28px;
    font: poppins;
    font-weight: 500px;
    font-size: 20px;
    line-height: 28px;
    color: #141718;
}

.street {
    display: flex;
    flex-direction: column;
    width: 595px;
    height: 64px;
    gap: 12px;
}

.address {
    display: flex;
    width: 117px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.input-address {
    display: flex;
    width: 595px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #6C7275;
    padding: 0 16px;
    gap: 8px;
}

.country {
    display: flex;
    width: 70px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
}

.select-input {
    display: flex;
    width: 595px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #6C7275;
    padding: 0 16px;
    gap: 8px;
}

.town {
    display: flex;
    width: 87px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}

.state {
    display: flex;
    width: 595px;
    height: 64px;
    justify-content: space-between;
}

.checkbox {
    display: flex;
    width: 339px;
    height: 26px;
    gap: 12px;
}

.checked {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1.5px;
    color: #6C7275;
}

.billing {
    display: flex;
    width: 303px;
    height: 26px;
    font: inter;
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    color: #6C7275;
}

.third-form {
    display: flex;
    flex-direction: column;
    width: 643px;
    height: 468px;
    border-radius: 4px;
    border: 1px solid #6C7275;
    padding: 40px 24px;
    gap: 24px;
}

.payment {
    display: flex;
    width: 176px;
    height: 28px;
    font: poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #141718;
}

.card-one {
    display: flex;
    flex-direction: column;
    width: 595px;
    height: 336px;
    border-bottom: 1px;
    gap: 24px;
}

.frame741 {
    display: flex;
    flex-direction: column;
    width: 595px;
    height: 160px;
    border-bottom: 1px solid #6C7275;
    padding-bottom: 32px;
    gap: 24px;
}

.frame {
    display: flex;
    width: 595px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid;
    padding: 13px 16px;
    gap: 395px;
    background-color: #F3F5F7;
    color: #141718;
}

.frame-fill {
    display: flex;
    width: 563px;
    height: 26px;
    justify-content: space-between;
}

.fill {
    display: flex;
    width: 173px;
    height: 26px;
    gap: 12px;
    align-items: center;
}

.checked-yes {
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 100px;
    border: 1px #141718;
    position: relative;
}

.radio {
    display: flex;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
    color: #141718;
}

.pay-card {
    display: flex;
    width: 143px;
    height: 26px;
    font: inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #141718;
}

.inactive {
    display: flex;
    width: 595px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid #6C7275;
    padding: 13px 16px;
    gap: 395px;
}

 .inner-active {
    display: flex;
    width: 563px;
    height: 26px;
    gap: 346px;
 }

 .active-line {
    display: flex;
    width: 81px;
    height: 26px;
    gap: 12px;
    align-items: center;
 }

 .street-line {
    display: flex;
    flex-direction: column;
    width: 595px;
    height: 64px;
    gap: 12px;
 }

 .Card-Number {
    display: flex;
    width: 100px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
 }

 .outline {
    display: flex;
    width: 595px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #6C7275;
    padding: 0px 16px;
    gap: 8px;
    align-items: center;
 }

 .numberput {
    display: flex;
    width: 563px;
    height: 26px;
    gap: 8px;
 }

 .layoutstate {
    display: flex;
    width: 595px;
    height: 64px;
    justify-content: space-between;
 }

 .leftstate {
    display: flex;
    flex-direction: column;
    width: 285.5px;
    height: 64px;
    gap: 12px;
 }

 .inputdate {
    display: flex;
    width: 285.5px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #6C7275;
    padding: 0 16px;
    gap: 8px;
    align-items: center;
 }

 .ddyy {
    display: flex;
    width: 253.5px;
    height: 26px;
    gap: 8px;
 }

 .expired {
    display: flex;
    width: 120px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
 }

 .cvc {
    display: flex;
    width: 27px;
    height: 12px;
    font: inter;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #6C7275;
 }

 .btn {
    display: flex;
    width: 643px;
    height: 52px;
    border-radius: 8px;
    padding: 12px 40px;
    gap: 8px;
    background-color: #141718;
    color: white;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4;
 }

 .right-layout {
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 862px;
    border-radius: 6px;
    border: 1px solid #6C7275;
    padding: 16px 24px;
    gap: 16px;
 }

 .order {
    display: flex;
    width: 365px;
    height: 34px;
    font: poppins;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;
 }

 .productcoupon {
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 556px;
    gap: 24px;
 }

 .productcell {
    display: flex;
    width: 376px;
    height: 144px;
    border-bottom: 1px solid #E8ECEF;
    justify-content: space-between;
    padding: 24px 0;
 }

 .cartproduct {
    display: flex;
    width: 376px;
    height: 96px;
    border-bottom: 1px;
    gap: 10px;
    justify-content: space-between;
 }

 .cartz {
    display: flex;
    width: 316px;
    height: 96px;
    gap: 16px;
    justify-content: space-between;
 }

 .imgcart {
    display: flex;
    width: 80px;
    height: 96px;
 }

 .cartlayout {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 90px;
    gap: 8px;
 }

 .tray {
    display: flex;
    width: 210px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #141718;
 }

 .black {
    display: flex;
    width: 68px;
    height: 20px;
    font: inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #6C7275;
 }

 .table {
    display: flex;
    width: 80px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #6C7275;
    padding: 12px 8px;
    gap: 10px;
    background-color: white;
    align-items: center;
 }

 .p-botton {
    display: flex;
    width: 64px;
    height: 20px;
    justify-content: center;
    align-items: center;
 }

 .minors {
   display: flex; 
   width: 20px;
   height: 16px;
   top: 2px;
   align-items: center;
 }

 .two {
    display: flex;
    width: 20px;
    height: 20px;
    left: 28px;
    align-items: center;
 }

 .plus {
    display: flex;
    width: 16px;
    height: 16px;
    top: 2px;
    left: 48px;
    align-items: center;
 }

 .product-price {
    display: flex;
    width: 50px;
    height: 54px;
    gap: 8px;
 }

 .price-caption {
     display: flex;
     width: 50px;
     height: 22px;
     font: inter;
     font-weight: 600;
     font-size: 14px;
     line-height: 22px;
     align-items: right;
     color: #121212;
 }

  