 /* RESET CSS */

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
 }

 body {
   font-family: "Poppins", sans-serif;
 }


 /* HEADER STYLING */
 header .banner-container {
   background-color: rgba(243, 245, 247, 1);
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0 80px;
 }

 header .banner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: rgb(203, 197, 197);
   font-size: 14px;
   width: 800px;
 }


 header .banner span a {
   color: white;
 }

 header .banner select {
   color: white;
   background-color: black;
   border: none;
   outline: none;
 } 

 header .header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 80px;
   height: 70px;
   border-bottom: 1px solid #ccc;
   background-color: #ffab00a3;
 }

 header .nav-links {
   display: flex;
   align-items: center;
   gap: 30px;
 }

 header .nav-link {
   font-weight: 100;
 }

 header a {
   color: black;
   text-decoration: none;
 }

 header .logo {
   font-size: 24px;
   font-weight: bold;
 }

 header .search-cart {
   display: flex;
   align-items: center;
   gap: 20px;
   ;
 }


 header .search-bar>button {
   border: none;
   background-color: transparent;
   cursor: pointer;
   ;
 }




 .footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 249px;
  padding: 80px 160px 32px 160px;
  gap: 60px;
  background-color: black;
}

.top-footer {
  display: flex;
  width: 1120px;
  height: 32px;

}

.top-footer-inner {
  display: flex;
  width: 1120px;
  height: 24px;
  justify-content: space-between;
}

.logo-slogan {
  display: flex;
  width: 554px;
  height: 24px;
  gap: 32px;
}

.logo-p {
  display: flex;
  width: 105px;
  height: 24px;
  font: poppins;
  font-weight: 500;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  color: white;
}

.bar {
  display: flex;
  width: 1px;
  height: 24px;
  color: #6C7275;
  justify-content: center;
  align-items: center;
}

.gift-p {
  display: flex;
  width: 350px;
  height: 22px;
  font: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #E8ECEF;
  /* justify-content: center; */
  align-items: center;
}

.nav-footer {
  display: flex;
  width: 392px;
  height: 22px;
  gap: 40px;
}

.ul-footer {
  display: flex;
  width: 392px;
  height: 22px;
  gap: 40px;
}

.li-list {
  display: flex;
  text-decoration: none;
  font: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: white;
}

.a {
  width: 40px;
  height: 22px;
}

.b {
  width: 35px;
  height: 22px;
}

.c {
  width: 52px;
  height: 22px;
}

.d {
  width: 30px;
  height: 22px;
}

.f {
  width: 85px;
  height: 22px;
}

.down-footer {
  display: flex;
  width: 1118px;
  height: 56px;
  border-top: 0.5px solid #6C7275;
  justify-content: space-between;
  padding: 16px 0;
}

.footer-layout {
  display: flex;
  width: 485;
  height: 20px;
  gap: 28px;
}

.copy-right {
  display: flex;
  width: 275px;
  height: 20px;
  font: poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #E8ECEF;
}

.privacy {
  display: flex;
  width: 85px;
  height: 20px;
  font: poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FEFEFE;
}

.term {
  display: flex;
  width: 79px;
  height: 20px;
  font: poppins;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #FEFEFE;
}

.icon-container {
  display: flex;
  width: 120px;
  height: 24px;
  gap: 24px;
}

.icon-a {
  display: flex;
  width: 24px;
  height: 24px;
  position: relative;
}

.img-icon {
  display: flex;
  width: 20px;
  height: 20px;
  top: 7px;
  left: 7px;
  border: 1.5px #FEFEFE;
  /* position: absolute; */
}

 .picture-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 820px;
   position: relative;
 }

 .text-container {
   display: flex;
   flex-direction: column;
   width: 538px;
   height: 376px;
   position: absolute;
   top: 222px;
   left: 732px;
   gap: 28px;
 }

 .text-layout {
  display: flex;
  flex-direction: column;
  width: 538px;
  height: 298px;
  gap: 10px;
 }

 .listen {
   display: flex;
   flex-direction: column;
   width: 538px;
   height: 252px;
   gap: 8px;
   font: poppins;
   font-weight: 500;
   font-size: 80px;
   line-height: 84px;
   letter-spacing: -3px;
 }

 .blue {
   color: blue;
 }

 .Experience {
   display: flex;
   width: 424px;
   height: 32px;
   font: inter;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   color: #121212;
 }

 .Shopping {
   display: flex;
   width: 250px;
   height: 59px;
   /* border: 1px solid; */
   border-radius: 8px;
   padding: 12px 56px;
   gap: 8px;
   font: inter;
   font-weight: 500;
   font-size: 18px;
   line-height: 32px;
   letter-spacing: -0.4;
   align-items: center;
   background-color: #141718;
   color: #ffffff;
 }

 .logo-container {
   display: flex;
   width: 100%;
   height: 144px;
   padding: 40px 160px;
   gap: 24px;
   margin: 0 auto;
 }

 .new-arrival-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 647px;
   padding: 48px 0;
   padding-left: 160px;
   gap: 48px;
   margin: 0 auto;
 }

 .new {
   display: flex;
   width: 1120px;
   height: 44px;
   justify-content: space-between;
 }

 .arrival {
  display: flex;
  width: 244px;
  height: 44px;
  font: poppins;
  font-size: 40px;
  font-weight: 500px;
  line-height: 44px;
  letter-spacing: -0.4px;
 }

 .product-card {
   display: flex;
   width: 1280px;
   height: 459px;
   gap: 24px;
 }

 .small-container-img {
   display: flex;
   flex-direction: column;
   position: relative;
 }

 .small-con-abs {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 10px;
   left: 30px;
 }

 .small-new {
   display: flex;
   justify-content: center;
   border: 1px solid;
   padding: 0px 7px;
   background-color: white;
   margin-bottom: 5px;
   border-radius: 3px;
 }

 .small-50 {
   display: flex;
   border: 1px solid;
   justify-content: center;
   padding: 0px 10px;
   background-color: green;
   color: white;
   border-radius: 3px;
 }

 .small-abs {
   width: 230px;
   height: 46px;
   border: 1px solid;
   border-radius: 8px;
   display: flex;
   position: absolute;
   top: 287px;
   left: l6px;
   padding: 8px 24px;
   gap: 4px;
   background-color: black;
   color: white;
   justify-content: center;
   align-items: center;
 }

 .banner-grid {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 804px;
   padding-top: 48px;
   gap: 48px;
 }

 .picture-banner {
   display: flex;
   width: 100%;
   height: 664px;
   padding: 0px 160px;
   gap: 4px;
 }

 .Collection {
   display: flex;
   width: 1120px;
   height: 44px;
   padding: 0px 160px;
   gap: 8px;
 }

 .Collection-shop {
   display: flex;
   width: 320px;
   height: 44px;
   font: poppins;
   font-weight: 500;
   font-size: 40px;
   line-height: 44px;
   letter-spacing: -0-4px;
   color: #000000;
 }

 .headband {
   display: flex;
   flex-direction: column;
   width: 548px;
   height: 664px;
   position: relative;

 }

 .headband-absolute {
   display: flex;
   flex-direction: column;
   width: 360px;
   height: 78px;
   position: absolute;
   top: 538px;
   left: 48px;
   gap: 12px;
 }

 .head {
   display: flex;
   width: 360px;
   height: 38px;
   gap: 12px;
   font: poppins;
   font-weight: 500;
   font-size: 34px;
   line-height: 38px;
   letter-spacing: -0.6px;
 }

 .band {
   display: flex;
   width: 110px;
   height: 28px;
   border-bottom: 1px solid;
   gap: 4px;
   color: #121212;
 }

 .smallcard {
   display: flex;
   flex-direction: column;
   width: 548px;
   height: 662px;
   gap: 24px;
 }

 .Card {
   display: flex;
   position: relative;
 }

 .earbud {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 420px;
   height: 78px;
   top: 201px;
   left: 32px;
   gap: 12px;
 }

 .picture-card {
   display: flex;
   width: 548px;
   height: 319px;
   position: relative;
 }

 .Accessories {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 420px;
   height: 78px;
   top: 201px;
   left: 32px;
   gap: 12px;
 }

 .bestseller {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 1206px;
   padding-top: 48px;
   padding-bottom: 100px;
   padding-left: 160px;
   gap: 48px;
   margin: 0 auto;
 }

 .best {
   display: flex;
   width: 1120px;
   height: 44px;
   gap: 48px;
 }

 .bt {
   display: flex;
   width: 220px;
   height: 44px;
   font: poppins;
   font-weight: 500;
   font-size: 40px;
   line-height: 44px;
   letter-spacing: -0.4px;
 }

 .row {
   display: flex;
   width: 1120px;
   height: 459px;
   gap: 24px;
 }

 .row-card {
   display: flex;
   flex-direction: column;
   width: 262px;
   height: 359px;
   gap: 12px;
   position: relative;
 }

 .parent {
   display: flex;
   width: 63px;
   height: 24px;
   position: absolute;
   top: 16px;
   left: 16px;
   gap: 8px;

 }

 .parentchild {
   display: flex;
   width: 63px;
   height: 24px;
   border-radius: 4px;
   padding: 4px 14px;
   gap: 8px;
   background-color: #ffffff;
 }

 .content {
   display: flex;
   flex-direction: column;
   width: 262px;
   height: 98px;
   gap: 12px;
 }

 .wireless {
   display: flex;
   /* width: 26px; */
   height: 52px;
   font: inter;
   font-weight: 600;
   font-size: 16px;
   line-height: 26px;
 }

 .stars {
   display: flex;
 }

 .banner-picture {
   display: flex;
   width: 1440px;
   height: 532px;
 }



 .banner-text {
   /* border: 1px solid; */
   display: flex;
   /* flex-direction: column; */
   width: 720px;
   height: 532px;
   left: 720px;
   align-items: center;
   padding-right: 160px;
   padding-left: 72px;
   gap: 24px;
   background-color: #e9c782;
 }

 .hurryup {
   display: flex;
   flex-direction: column;
   gap: 24px;
 }

 .numbers {
   display: flex;
   width: 60px;
   height: 80px;
 }



 .promotion {
   display: flex;
   flex-direction: column;
   width: 452px;
   height: 124px;
   gap: 16px;
 }

 .offer {
   display: flex;
   flex-direction: column;
   width: 360px;
   height: 118px;
   gap: 12px;
 }

 .pro-tion {
   display: flex;
   width: 452px;
   height: 16px;
   font: inter;
   font-weight: 700;
   font-size: 16px;
   line-height: 16px;
   color: #377dff;
 }

 .hurry-off {
   display: flex;
   width: 452px;
   height: 44px;
   font: poppins;
   font-weight: 500;
   font-size: 40px;
   line-height: 44px;
   letter-spacing: -0.4;
   color: #121212;
 }

 .tech {
   display: flex;
   width: 452px;
   height: 32px;
   font: inter;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   color: #121212;
 }

 .expire {
   display: flex;
   width: 360px;
   height: 26px;
   font: inter;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #141718;
 }

 .num {
   display: flex;
   width: 29px;
   height: 20px;
   top: 60px;
   left: 15px;
   font: inter;
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   justify-content: center;
   align-items: center;
   background-color: white;
   color: #141718;
 }

 .timer {
   display: flex;
   flex-direction: column;
   width: 60px;
   height: 80px;
 }

 .timer-block {
   display: flex;
   width: 50px;
   height: 20px;
   top: 60px;
   left: 4px;
   font: inter;
   font-weight: 400;
   font-size: 12px;
   line-height: 20px;
   align-items: center;
 }

 .btn {
   display: flex;
   width: 190px;
   height: 40px;
   border-radius: 8px;
   padding: 6px 40px;
   gap: 8px;
   background-color: #141718;
   color: #ffffff;
   font: inter;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: -0.4px;
   align-items: center;
   justify-content: center;
 }

 .logo-pic {
   display: flex;
   width: 100%;
   height: 300px;
   padding: 40px 160px;
   gap: 24px;
   background-color: #ffffff;
 }

 .small-container {
   display: flex;
   flex-direction: column;
   box-shadow: 1px 1px 1px 1px;
   width: 263px;
   height: 220px;
   padding: 48px 32px;
   gap: 16px;

 }

 .img-delivery {
   display: flex;
   width: 40px;
   height: 36px;
   top: 6px;
   left: 4px;
   border: 2.5px;
 }

 .newsfeed-section {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 550px;
   padding: 40px 160px;
   gap: 40px;
 }

 .newst {
   display: flex;
   flex-direction: column;
   width: 600px;
   height: 168px;
   gap: 16px;
   /* justify-content: center; */
   align-items: center;
   text-align: center;
   margin: 0 auto;
 }

 .newstittle {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   width: 544px;
   height: 16px;
   font: inter;
   font-weight: 700px;
   font-size: 16px;
   line-height: 16px;;
 }

 .newsfeed-intagram {
   display: flex;
   /* width: 544px; */
   height: 44px;
   font: poppins;
   font-weight: 500;
   font-size: 40px;
   line-height: 44px;
   letter-spacing: -0.4;
   align-items: center;
 }

 .news-follow {
   display: flex;
   /* width: 544px; */
   height: 32px;
   font: inter;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;
   align-items: center;
 }

 .new-offcial {
   display: flex;
   width: 181px;
   height: 28px;
   font: poppins;
   font-weight: 500;
   font-size: 20px;
   line-height: 28px;
   align-items: center;
 }

 .cards {
   display: flex;
   width: 1120px;
   height: 262px;
   gap: 24px;
 }

 .join-container {
   display: flex;
   width: 100%;
   height: 360px;
   position: relative;
 }

 .join {
   display: flex;
   flex-direction: column;
   width: 540px;
   height: 166px;
   position: absolute;
   top: 101px;
   left: 450px;
   gap: 32px;
 }

 .join-our {
  display: flex;
  width: 456px;
  height: 44px;
  font: poppins;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;
  align-items: center;
  color: #121212;
 }

 .sign-for-deals {
  display: flex;
  width: 540px;
  height: 30px;
  font: inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  color: #121212;
 }

 .signup {
  display: flex;
  width: 488px;
  height: 52px;
  gap: 8px;
 }

 .input-fill {
  color: #000000;
  border-top: 1px #000000;
  border-right: #000000;
  border-left: #000000;
}
 

 .countdown {
   display: flex;
   gap: 20px;


 }

 .box {
   border: 1px solid transparent;
   width: 70px;
   height: 80px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 40px;
   font-weight: bold;

 }

 .name {
   text-align: center;
 }