 /* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  
  /* HEADER STYLING */
  header .banner-container {
    background-color: black;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 80px;
  }
  header .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(203, 197, 197);
    font-size: 14px;
    width: 800px;
  }
  
  header .banner span a {
    color: white;
  }
  
  header .banner select {
    color: white;
    background-color: black;
    border: none;
    outline: none;
  }
  
  header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 70px;
    border-bottom: 1px solid #ccc;
  }
  
  header .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  header .nav-link {
    font-weight: 100;
  }
  
  header a {
    color: black;
    text-decoration: none;
  }
  
  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header .search-cart {
    display: flex;
    align-items: center;
    gap: 20px;;
  }
  
  
  header .search-bar > button {
    border: none;
    background-color: transparent;
    cursor: pointer;;
  }




  .footer-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 249px;
    padding-top: 80px;
    padding-right: 160px;
    padding-bottom: 32px;
    padding-left: 49px;
    background-color: #141718;
 }

 .upper-chamber {
    display: flex;
    justify-content: space-between;
    width: 1120px;
 }

 .upper-upper-left-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .upper-upper-right-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .white {
    color: white;
 }

 .line {
    margin-top: 50px;
    width: 1120px;
 }

 .lower-chamber {
    display: flex;
    justify-content: space-between;
    width: 1118px;
    /* border-top: 0.5px; */
    padding: 16px 0px;
 }

 .lower-left-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .lower-right-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .picture-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 820px;
    position: relative;
 }

 .text-container {
    display: flex;
    flex-direction: column;
    width: 538px;
    height: 376px;
    position: absolute;
    top: 222px;
    left: 732px;
    gap: 28px;
 }

 .listen {
    display: flex;
    flex-direction: column;
    width: 538px;
    /* height: 252px; */
    /* gap: 8px; */
    font: poppins;
    font-weight: 500;
    /* line-height: 84px; */
    letter-spacing: -3px;
 }

 .blue {
    color: blue;
 }

 .Experience {
    display: flex;
    width: 424px;
    height: 32px;
    font: inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #121212;
 }

 .Shopping {
    display: flex;
    width: 239px;
    height: 56px;
    /* border: 1px solid; */
    border-radius: 8px;
    padding: 12px 56px;
    gap: 8px;
    font: inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.4;
    align-items: center;
    background-color: #141718;
    color: #ffffff;
 }

 .logo-container{
    display: flex;
    width: 1442px;
    height: 144px;
    padding: 40px 160px;
    gap: 24px;
 }

 .new-arrival-container {
   display: flex;
   flex-direction: column;
   width: 1440px;
   height: 647px;
   padding: 48px 0;
   padding-left: 160px;
   gap: 48px;
 }

 .new {
   display: flex;
   width: 1120px;
   height: 44px;
   justify-content: space-between;
 }

 .product-card {
   display: flex;
   width: 1280px;
   height: 459px;
   gap: 24px;
 }

 .small-container-img {
   display: flex;
   flex-direction: column;
   position: relative;
}


.small-con-abs {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 10px;
   left: 30px;
}

.small-new {
   display: flex;
   justify-content: center;
   border: 1px solid;
   padding: 0px 7px;
   background-color: white;
   margin-bottom: 5px;
   border-radius: 3px;
}

.small-50 {
   display: flex;
   border: 1px solid;
   justify-content: center;
   padding: 0px 10px;
   background-color: green;
   color: white;
   border-radius: 3px;
}

.small-abs {
   width: 230px;
   height: 46px;
   border: 1px solid;
   display: flex;
   position: absolute;
   top: 286px;
   left: l6px;
   padding: 8px 24px;
   gap: 4px;
   background-color: black;
   color: white;
}

.banner-grid {
   display: flex;
   flex-direction: column;
   width: 1440px;
   height: 804px;
   padding-top: 48px;
   gap: 48px;
}

.picture-banner {
   display: flex;
   width: 1440px;
   height: 664px;
   padding: 0px 160px;
   gap: 4px;
}

.Collection {
   display: flex;
   width: 1120px;
   height: 44px;
   padding: 0px 160px;
   gap: 8px;
}

.Collection-shop {
   display: flex;
   width: 311px;
   height: 44px;
   font: poppins;
   font-weight: 500;
   font-size: 40px;
   line-height: 44px;
   letter-spacing: -0-4px;
   color: #000000;
}

.headband {
   display: flex;
   flex-direction: column;
   width: 548px;
   height: 664px;
   position: relative;

}

.headband-absolute {
   display: flex;
   flex-direction: column;
   width: 360px;
   height: 78px;
   position: absolute;
   top: 538px;
   left: 48px;
   gap: 12px;
}

.head {
   display: flex;
   width: 360px;
   height: 38px;
   gap: 12px;
   font: poppins;
   font-weight: 500;
   font-size: 34px;
   line-height: 38px;
   letter-spacing: -0.6px;
}

.band {
   display: flex;
   width: 98px;
   height: 28px;
   border-bottom: 1px solid;
   gap: 4px;
   color: #121212;
}
  