* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
  }

  .pic-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 760px;
    padding: 0px 160px;
    padding-bottom: 40px;
  }

.slider-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.arrow-direction {
    display: flex;
    width: 1055px;
    height: 52px;
    position: absolute;
    justify-content: space-between;
    top: 243px;
}

.radius {
    width: 52px;
    height: 52px;
    left: 1003px;
     background-color: #ffffff;
     border-radius: 100px;
}

.simple-section {
    width: 1120px;
    height: 536px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 160px;
}

.left-section {
    font-size: 27px;
    font-weight: 600;
}

.room-section-container {
    display: flex;
    width: 1440px;
    height: 664px;
    padding: 0px 160px;
    gap: 24px;
}

.room-section {
    display: flex;
    gap: 24px;
    /* padding: 0px 80px; */
}

.left-room-section {
    display: flex;
    position: relative;
    width: 548px;
    height: 664px;
}

.right-right-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.position {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 78px;
    position: absolute;
    top: 48px;
    left: 48px;
    gap: 12px;
}

.bed {
    display: flex;
    width: 548px;
    height: 319px;
    display: flex;
    position: relative;
}

.room {
    width: 420px;
    height: 78px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 201px;
    left: 32px;
    gap: 12px;
}

.kit {
    display: flex;
    position: relative;
    width: 548px;
    height: 319px;
}

.chen {
    width: 420px;
    height: 78px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 201px;
    left: 32px;
    gap: 12px;
}

.big-container {
    width: 1440px;
    height: 669px;
    padding-top: 48px;
    padding-left: 160px;
    gap: 48px;
    /* color: #ffffff; */
}

.new-section {
    width: 1120px;
    height: 88px;
    display: flex;
    /* padding: 0px 80px; */
    justify-content: space-between;
    align-items: center;
} 

.Arrivals {
    font-size: 25px;
    font-weight: 600;
}

 

.small-container {
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    /* padding-left: 80px; */
    width: 1,280px;
    height: 433px;
    gap: 24px;
}

.small-container-img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.small-con-abs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 30px;
}

.small-new {
    display: flex;
    justify-content: center;
    border: 1px solid;
    padding: 0px 7px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 3px;
}

.small-50 {
    display: flex;
    border: 1px solid;
    justify-content: center;
    padding: 0px 10px;
    background-color: green;
    color: white;
    border-radius: 3px;
}

.small-abs {
    border: 1px solid;
    display: flex;
    position: absolute;
    top: auto;
    left: 0;
    right: 0px;
    bottom: 0px;
    justify-content: center;
    padding: 10px;
    background-color: black;
    color: white;
}

.big-free-container {
    display: flex;
    width: 1440px;
    height: 316px;
    /* border: 1px solid; */
    padding: 48px 160px;
    gap: 24px;
}

.free-small-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    box-shadow: 1px 1px 1px 1px;
    width: 263px;
    height: 220px;
    padding: 48px 32px;
    gap: 16px;
    
}

.sale-container {
    display: flex;
    width: 1440px;
    height: 532px;
}

.left-sale-container {
    width: 720px;
    height: 532px;
}

.right-sale-container {
    display: flex;
    width: 720px;
    height: 532px;
    position: relative;
}

 .right-abso {
    display: flex;
    flex-direction: column;
    position: absolute;
     padding-right: 160px;
     padding-left: 72px;
     gap: 24px;
     top: 35%;

 }

 .article-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 657px;
    padding: 80px 160px;
    gap: 40px;
    /* color: #ffffff; */
 }

 .small-article-container {
    display: flex;
    /* border: 1px solid; */
    width: 1121px;
    height: 44px;
    justify-content: space-between;
    align-items: center;
 }

 .image-container {
    display: flex;
    width: 1121px;
    height: 413px;
    gap: 25px;
 }

 .small-image-container {
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 413px;
    gap: 24px;
 }

 .join-container {
    display: flex;
    width: 1440px;
    height: 360px;
    position: relative;
 }

 .join {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 166px;
    position: absolute;
    top: 101px;
    left: 450px;
    gap: 32px;
 }

 .signup {
    display: flex;
    justify-content: space-between;
    border-bottom: outset;
    padding: 2px;
 }

 .footer-container {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 249px;
    padding-top: 80px;
    padding-right: 160px;
    padding-bottom: 32px;
    padding-left: 49px;
    background-color: #141718;
 }

 .upper-chamber {
    display: flex;
    justify-content: space-between;
    width: 1120px;
 }

 .upper-upper-left-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .upper-upper-right-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .white {
    color: white;
 }

 .line {
    margin-top: 50px;
    width: 1120px;
 }

 .lower-chamber {
    display: flex;
    justify-content: space-between;
    width: 1118px;
    /* border-top: 0.5px; */
    padding: 16px 0px;
 }

 .lower-left-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .lower-right-footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    color: white;
 }

 .input-fild{
    position: absolute;
    width: 100%;
    height:100% ;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #151515;
    transition: 0.4s;
  }
  .input-fild.active {
    border-bottom-color: #151515 ;
  }
  .input-fild.active + label{
    font-size: 0.75rem;
    top: -2px;
  }

