* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
  }

.header {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 16px 160px;
    justify-content: space-between;
    background-color: white;
    /* border: 1px solid; */
}

.logo {
    display: flex;
    width: 105px;
    height: 24px;
    font: poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    align-items: center;
    color: black;
}

.ul {
    display: flex;
    width: 326px;
    height: 24px;
    gap: 40px;
}



.li {
    display: flex;
    text-decoration: none;
}

.search-div {
    display: flex;
    width: 130px;
    height: 28px;
    gap: 16px;
}

.b-t {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
}

.b-a {
    display: flex;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border: 1.5px #141718;
    position: absolute;
}

.div-icon {
    display: flex;
    width: 50px;
    height: 28px;
    position: relative;
    align-items: center;
}

.b-th {
    display: flex;
    width: 24px;
    height: 24px;
    top: 2px;
    left: 1px;
    position: absolute;
}

.b-tf {
    display: flex;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 30px;
    position: absolute;
}

.b-aa {
    display: flex;
    width: 18.56px;
    height: 18px;
    top: 3px;
    left: 2.72px;
    border-radius: 4px;
    border: 1.5px #141718;
    position: absolute;
}

.b-ab {
    display: flex;
    width: 8px;
    height: 10px;
    top: 5px;
    left: 6px;
    position: absolute;
}

.section-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1134px;
    padding: 80px 304px;
    gap: 80px;
}

.tittle {
    display: flex;
    flex-direction: column;
    width: 832px;
    height: 166px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin: 0 auto;
}

.p-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font: poppins;
    font-weight: 500;
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
    color: black;
}

.shopping-cart {
    display: flex;
    width: 832px;
    height: 32px;
    gap: 32px;
    justify-content: center;
}

.process {
    display: flex;
    width: 256px;
    height: 68px;
    /* border-bottom: 2px solid black; */
    padding-bottom: 26px;
    gap: 24px;
    color: #38CB89;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.process:hover {
    border-bottom: 2px solid #38CB89;
}

.proces {
    display: flex;
    width: 256px;
    height: 68px;
    border-bottom: 2px;
    padding-bottom: 26px;
    gap: 24px;
    color: #38CB89;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.proces:hover {
    border-bottom: 2px solid #38CB89;
}

.proce {
    display: flex;
    width: 256px;
    height: 68px;
    border-bottom: 2px;
    padding-bottom: 26px;
    gap: 24px;
    color: #23262F;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}

.proce:hover {
    border-bottom: 2px solid #23262F;
}

.span {
    display: flex;
    width: 42px;
    height: 42px;
    padding: 8px 17px;
    border-radius: 40px;
    gap: 10px;
    background-color: #38CB89;
    color: white;
    justify-content: center;
    align-items: center;
}

.spa {
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px 15px;
    border-radius: 40px;
    gap: 10px;
    background-color:#38CB89;
    color: white;
    justify-content: center;
    align-items: center;
}

.sp {
    display: flex;
    width: 41px;
    height: 42px;
    padding: 8px 15px;
    border-radius: 40px;
    gap: 10px;
    background-color: #23262F;
    color: white;
    justify-content: center;
    align-items: center;
}

.order {
    display: flex;
    flex-direction: column;
    width: 738px;
    height: 730px;
    border-radius: 8px;
    padding: 80px 95px;
    gap: 40px;
    /* background-color: #FFFFFF; */
    margin: 0 auto;
}

.complate {
    display: flex;
    flex-direction: column;
    width: 546px;
    height: 138px;
    gap: 16px;
    margin: 0 auto;
}

.thank-you {
    display: flex;
    width: 448px;
    height: 34;
    font: poppins;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6;
    color: #6C7275;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
.received {
    display: flex;
    width: 492px;
    height: 88px;
    font: poppins;
    font-weight: 500px;
    font-size: 40px;
    letter-spacing: -0.4;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}

.table-layout {
    display: flex;
    width: 546px;
    height: 112px;
    /* gap: 40px; */
    justify-content: space-evenly;
}

.placeholder {
    display: flex;
    width: 96px;
    height: 112px;
    position: relative;
}

.image-holder {
    display: flex;
    width: 80px;
    height: 96px;
    align-items: center;
}

.number {
    display: flex;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 64px;
    border-radius: 80px;
    background-color: #141718;
    color: white;
    justify-content: center;
    align-items: center;
    font: inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.order-detail {
    display: flex;
    width: 548px;
    height: 148px;
    gap: 32px;
    justify-content: center;
}

.layout-title {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 148px;
    gap: 20px;
}

.Order-code {
    display: flex;
    width: 100px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.date {
    display: flex;
    width: 36px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.total {
    display: flex;
    width: 38px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.method {
    display: flex;
    width: 120px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.caption-1 {
    display: flex;
    width: 93px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.caption-2 {
    display: flex;
    width: 118px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.caption-3 {
    display: flex;
    width: 69px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.caption-4 {
    display: flex;
    width: 78px;
    height: 22px;
    font: inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #6C7275;
}

.btn {
    display: flex;
    width: 203px;
    height: 52px;
    border-radius: 80px;
    padding: 12px 40px;
    gap: 8px;
    background-color: #141718;
    color: white;
    font: inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.btn:hover {
    background-color: green;
    color: black;
}

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 249px;
    padding: 80px 160px 32px 160px;
    gap: 60px;
    background-color: black;
}

.top-footer {
    display: flex;
    width: 1120px;
    height: 32px;

}

.top-footer-inner {
    display: flex;
    width: 1120px;
    height: 24px;
    justify-content: space-between;
}

.logo-slogan {
    display: flex;
    width: 554px;
    height: 24px;
    gap: 32px;
}

.logo-p {
    display: flex;
    width: 105px;
    height: 24px;
    font: poppins;
    font-weight: 500;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: white;
}

.bar {
    display: flex;
    width: 1px;
    height: 24px;
    color: #6C7275;
    justify-content: center;
    align-items: center;
}

.gift-p {
    display: flex;
    width: 350px;
    height: 22px;
    font: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #E8ECEF;
    /* justify-content: center; */
    align-items: center;
}

.nav-footer {
    display: flex;
    width: 392px;
    height: 22px;
    gap: 40px;
}

.ul-footer {
    display: flex;
    width: 392px;
    height: 22px;
    gap: 40px;
}

.li-list {
    display: flex;
    text-decoration: none;
    font: inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: white;
}

.a {
    width: 40px;
    height: 22px;
}

.b {
    width: 35px;
    height: 22px;
}

.c {
    width: 52px;
    height: 22px;
}

.d {
    width: 30px;
    height: 22px;
}

.f {
    width: 75px;
    height: 22px;
}

.down-footer {
    display: flex;
    width: 1118px;
    height: 56px;
    border-top: 0.5px solid #6C7275;
    justify-content: space-between;
    padding: 16px 0;
}

.footer-layout {
    display: flex;
    width: 485;
    height: 20px;
    gap: 28px;
}

.copy-right {
    display: flex;
    width: 265px;
    height: 20px;
    font: poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #E8ECEF;
}

.privacy {
    display: flex;
    width: 85px;
    height: 20px;
    font: poppins;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FEFEFE;
}

.term {
    display: flex;
    width: 79px;
    height: 20px;
    font: poppins;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FEFEFE;
}

.icon-container {
    display: flex;
    width: 120px;
    height: 24px;
    gap: 24px;
}

.icon-a {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
}

.img-icon {
    display: flex;
    width: 10px;
    height: 10px;
    top: 7px;
    left: 7px;
    border: 1.5px #FEFEFE;
    position: absolute;
}