* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.slider-container {
    width: 90%;
    margin: 0 auto;
    border: 1px solid;
    overflow: hidden;
   
}
.slider {
    display: flex;
}

.product-card {
    width: 300px;
    margin: 10px;
    border: 1px solid;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    flex-shrink: 0;
}


.newsfeed {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 550px;
    padding: 40px 160px;
    gap: 40px;
    background-color: #ffffff;
  }
  .newst {
    display: flex;
    flex-direction: column;
    width: 544px;
    height: 168px;
    gap: 16px;
  }
  
  
  
  
  