* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    height: calc(100vh - 0px);
    display: flex;
}

.left-section {

}

.right-section{
    width: 40%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text1 {
    color: #000000;
    border-top: 1px #000000;
    border-right: #000000;
    border-left: #000000;
}