* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    display: flex;
}

.left-section {

}

.right-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 456px;
    height: 520px;
    top: 220px;
    left: 824px;
    gap: 32px;
}

.text1 {
    color: #000000;
    border-top: 1px #000000;
    border-right: #000000;
    border-left: #000000;
}

.legant {
    width: 105px;
    height: 24px;
    position: absolute;
    top: 32px;
    left: 315px;
}

.btn {
    border: 1px solid;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: blue;
 }

 .color {
    color: rgb(68, 209, 68);
 }